
<div class="pre-header">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
    <div class="exchange">
        <div class="container">
            <div class="exchange__body">
                <div class="exchange__marquee" style="overflow-wrap: normal; white-space: nowrap; overflow: hidden;">
                    <div class="exchange-line">
                        <span class="exchange__title">
                            Биржевые индексы:
                        </span>
                        <ul class="exchange__list">
                            <li class="exchange__item">
                                Золото: <span class="exchange__val" id="gold-span_1">--</span>
                                <span class="exchange__item-arrow exchange__item-arrow-gold" id="gold-span-arrow-1"></span>
                            </li>
                            <li class="exchange__item">
                                Серебро: <span class="exchange__val" id="silver-span_1">--</span>
                                <span class="exchange__item-arrow exchange__item-arrow-silver" id="silver-span-arrow-1"></span>
                            </li>
                            <li class="exchange__item">
                                Платина: <span class="exchange__val" id="platinum-span_1">--</span>
                                <span class="exchange__item-arrow exchange__item-arrow-platinum" id="platinum-span-arrow-1"></span>
                            </li>
                            <li class="exchange__item">
                                Доллар: <span class="exchange__val" id="usd-span_1">--</span>
                                <span class="exchange__item-arrow exchange__item-arrow-usd" id="usd-span-arrow-1"></span>
                            </li>
                            <li class="exchange__item">
                                Евро: <span class="exchange__val" id="eur-span_1">--</span>
                                <span class="exchange__item-arrow exchange__item-arrow-eur" id="eur-span-arrow-1"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="exchange-line">
                        <span class="exchange__title">
                            Биржевые индексы:
                        </span>
                        <ul class="exchange__list">
                            <li class="exchange__item">
                                Золото: <span class="exchange__val" id="gold-span_2">--</span>
                                <span class="exchange__item-arrow exchange__item-arrow-gold" id="gold-span-arrow-2"></span>
                            </li>
                            <li class="exchange__item">
                                Серебро: <span class="exchange__val" id="silver-span_2">--</span>
                                <span class="exchange__item-arrow exchange__item-arrow-silver" id="silver-span-arrow-2"></span>
                            </li>
                            <li class="exchange__item">
                                Платина: <span class="exchange__val" id="platinum-span_2">--</span>
                                <span class="exchange__item-arrow exchange__item-arrow-platinum" id="platinum-span-arrow-2"></span>
                            </li>
                            <li class="exchange__item">
                                Доллар: <span class="exchange__val" id="usd-span_2">--</span>
                                <span class="exchange__item-arrow exchange__item-arrow-usd" id="usd-span-arrow-2"></span>
                            </li>
                            <li class="exchange__item">
                                Евро: <span class="exchange__val" id="eur-span_2">--</span>
                                <span class="exchange__item-arrow exchange__item-arrow-eur" id="eur-span-arrow-2"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="exchange-line">
                        <span class="exchange__title">
                            Биржевые индексы:
                        </span>
                        <ul class="exchange__list">
                            <li class="exchange__item">
                                Золото: <span class="exchange__val" id="gold-span_3">--</span>
                                <span class="exchange__item-arrow exchange__item-arrow-gold" id="gold-span-arrow-3"></span>
                            </li>
                            <li class="exchange__item">
                                Серебро: <span class="exchange__val" id="silver-span_3">--</span>
                                <span class="exchange__item-arrow exchange__item-arrow-silver" id="silver-span-arrow-3"></span>
                            </li>
                            <li class="exchange__item">
                                Платина: <span class="exchange__val" id="platinum-span_3">--</span>
                                <span class="exchange__item-arrow exchange__item-arrow-platinum" id="platinum-span-arrow-3"></span>
                            </li>
                            <li class="exchange__item">
                                Доллар: <span class="exchange__val" id="usd-span_3">--</span>
                                <span class="exchange__item-arrow exchange__item-arrow-usd" id="usd-span-arrow-3"></span>
                            </li>
                            <li class="exchange__item">
                                Евро: <span class="exchange__val" id="eur-span_3">--</span>
                                <span class="exchange__item-arrow exchange__item-arrow-eur" id="eur-span-arrow-3"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.exchange -->

    <div class="container header-upper">
        <div class="header-selectors-wrapper">
            @await Component.InvokeAsync("TaxTypeSelector")
            @await Component.InvokeAsync("CurrencySelector")
            @await Component.InvokeAsync("LanguageSelector")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
        </div>
        <div class="header-links-wrapper">
            @await Component.InvokeAsync("HeaderLinks")
            @await Component.InvokeAsync("FlyoutShoppingCart")
        </div>
    </div><!-- /.header-upper -->

</div><!-- /.pre-header -->

<div class="site-header header">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })

    <div class="container header-search-wrapper">
        @await Component.InvokeAsync("SearchBox")
    </div><!-- /.header-search-wrapper -->

    <div class="container site-header-inner">
        <div class="site-header-left">
            <div class="header-logo">
                @await Component.InvokeAsync("Logo")
            </div>
        </div>

        <div class="site-header-right">
            <button id="search-toggle" class="search-toggle" aria-controls="header-search">
                search
            </button>
            <button id="burger-menu-toggle" class="burger-menu-button" aria-controls="burger-menu" aria-expanded="false">
                <div class="burger">
                    <div class="burger__inner">
                    </div>
                </div>
            </button>
        </div><!-- /.sitheader-right -->

    </div><!-- /.site-header-inner -->

    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })

    <nav class="burger-menu">
        <ul class="burger-menu-list">
            <li class="burger-menu-list-item">
                <a href="/#about">О нас</a>
            </li>
            <li class="burger-menu-list-item">
                <a href="/#instruction" target="_blank">Как купить?</a>
            </li>
            <li class="burger-menu-list-item">
                <a href="/#contact">Контакты</a>
            </li>
            @* <li class="burger-menu-list-item social-menu-wrap">
                <ul class="social-menu">
                    <li>
                        <a href="#">
                            <img class="social-icon" src="img/fa-icon/google-plus-g-brands.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="social-icon" src="img/fa-icon/twitter-brands.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="social-icon" src="img/fa-icon/facebook-f-brands.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="social-icon" src="img/fa-icon/vk-brands.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="social-icon" src="img/fa-icon/telegram-plane-brands.svg" alt="">
                        </a>
                    </li>
                </ul><!-- social-menu -->
            </li><!-- social-menu-wrap -->
                *@
        </ul>
    </nav>
</div><!-- /.site-header -->

<script asp-location="Footer">
    function burgerNav() {
        var body = document.body;
        var burgerButton = document.querySelector('#burger-menu-toggle');
        var siteNavigation = document.querySelector('#burger-menu');

        burgerButton.addEventListener('click', function () {
            if (burgerButton.getAttribute('aria-expanded') === 'true') {
                body.classList.remove('burger-menu-open');
                burgerButton.setAttribute('aria-expanded', 'false');
            } else {
                burgerButton.setAttribute('aria-expanded', 'true');
                body.classList.add('burger-menu-open');
            }
        });
    }

    function searchBoxOpen() {
        var body = document.body;
        var searchButton = document.querySelector('#search-toggle');
        var searchBox = document.querySelector('.header-search-wrapper');

        searchButton.addEventListener('click', function () {
            if (searchButton.getAttribute('aria-expanded') === 'true') {
                body.classList.remove('header-search-open');
                searchButton.setAttribute('aria-expanded', 'false');
            } else {
                searchButton.setAttribute('aria-expanded', 'true');
                body.classList.add('header-search-open');
            }
        });
    }

    burgerNav();
    searchBoxOpen();
</script>