
<div class="header">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
    <div class="header-upper">
        <div class="exchange">
            <div class="container">
                <div class="exchange__body">
                    <div class="exchange__marquee" style="overflow-wrap: normal; white-space: nowrap; overflow: hidden;">
                        <div class="exchange-line">
                            <span class="exchange__title">
                                Биржевые индексы:
                            </span>
                            <ul class="exchange__list">
                                <li class="exchange__item">
                                    Золото: <span class="exchange__val" id="gold-span_1">$ 0</span>
                                </li>
                                <li class="exchange__item">
                                    Серебро: <span class="exchange__val" id="silver-span_1">$ 0</span>
                                </li>
                                <li class="exchange__item">
                                    Платина: <span class="exchange__val" id="platinum-span_1">$ 0</span>
                                </li>
                                <li class="exchange__item">
                                    Доллар: <span class="exchange__val" id="usd-span_1">0 <big>₽</big></span>
                                </li>
                                <li class="exchange__item">
                                    Евро: <span class="exchange__val" id="eur-span_1">0 <big>₽</big></span>
                                </li>
                            </ul>
                        </div>
                        <div class="exchange-line">
                            <span class="exchange__title">
                                Биржевые индексы:
                            </span>
                            <ul class="exchange__list">
                                <li class="exchange__item">
                                    Золото: <span class="exchange__val" id="gold-span_2">$ 0</span>
                                </li>
                                <li class="exchange__item">
                                    Серебро: <span class="exchange__val" id="silver-span_2">$ 0</span>
                                </li>
                                <li class="exchange__item">
                                    Платина: <span class="exchange__val" id="platinum-span_2">$ 0</span>
                                </li>
                                <li class="exchange__item">
                                    Доллар: <span class="exchange__val" id="usd-span_2">0 <big>₽</big></span>
                                </li>
                                <li class="exchange__item">
                                    Евро: <span class="exchange__val" id="eur-span_2">0 <big>₽</big></span>
                                </li>
                            </ul>
                        </div>
                        <div class="exchange-line">
                            <span class="exchange__title">
                                Биржевые индексы:
                            </span>
                            <ul class="exchange__list">
                                <li class="exchange__item">
                                    Золото: <span class="exchange__val" id="gold-span_3">$ 0</span>
                                </li>
                                <li class="exchange__item">
                                    Серебро: <span class="exchange__val" id="silver-span_3">$ 0</span>
                                </li>
                                <li class="exchange__item">
                                    Платина: <span class="exchange__val" id="platinum-span_3">$ 0</span>
                                </li>
                                <li class="exchange__item">
                                    Доллар: <span class="exchange__val" id="usd-span_3">0 <big>₽</big></span>
                                </li>
                                <li class="exchange__item">
                                    Евро: <span class="exchange__val" id="eur-span_3">0 <big>₽</big></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-selectors-wrapper">
            @await Component.InvokeAsync("TaxTypeSelector")
            @await Component.InvokeAsync("CurrencySelector")
            @await Component.InvokeAsync("LanguageSelector")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
        </div>
        <div class="header-links-wrapper">
            @await Component.InvokeAsync("HeaderLinks")
            @await Component.InvokeAsync("FlyoutShoppingCart")
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
    <div class="header-lower">
        <div class="header-logo">
            @await Component.InvokeAsync("Logo")
        </div>
        <div class="search-box store-search-box">
            @await Component.InvokeAsync("SearchBox")
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
