@model HeaderLinksModel
@inject Nop.Core.IWebHelper webHelper
<div class="fix-menu-wrap">
    <div class="fix-menu">

        <div class="fix-menu__item">
            <a href="" class="fix-menu__link fix-menu__link-catalog" aria-controls="slide-nav" aria-expanded="false">
                <span class="fix-menu__title">Каталог</span>
            </a>
        </div>

        <div class="fix-menu__item">
            <a href="/partners" class="fix-menu__link fix-menu__link-charts">
                @* <a href="/compareproducts" class="fix-menu__link fix-menu__link-home"> *@
                <span class="fix-menu__title">Статистика</span>
            </a>
        </div>

        <div class="fix-menu__item fix-menu__item-home">
            <a href="/" class="fix-menu__link fix-menu__link-home">
                <span class="fix-menu__title">Главная</span>
            </a>
        </div>

        <div class="fix-menu__item">
            <a id="fixcartlink" href="@Url.RouteUrl("ShoppingCart")" class="fix-menu__link fix-menu__link-cart">
                <span class="fix-menu__title">Корзина</span>
                <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
            </a>
        </div>

        <div class="fix-menu__item">
            <a href="@Url.RouteUrl("CustomerInfo")" class="fix-menu__link fix-menu__link-account">
                <span class="fix-menu__title">Профиль</span>
                @* добавить значок уведомлений *@
            </a>
        </div>
    </div>

</div><!-- /.fix-menu-wrap -->

@if (Model.ShoppingCartEnabled)
{
    <script asp-location="Footer">
        $(document).ready(function () {
            $('.fix-menu-wrap').on('mouseenter', '#fixcartlink', function () {
                $('#flyout-cart').addClass('active');
            });
            $('.fix-menu-wrap').on('mouseleave', '#fixcartlink', function () {
                $('#flyout-cart').removeClass('active');
            });
            $('.header-upper').on('mouseenter', '#flyout-cart', function () {
                $('#flyout-cart').addClass('active');
            });
            $('.header-upper').on('mouseleave', '#flyout-cart', function () {
                $('#flyout-cart').removeClass('active');
            });
        });
    </script>
}

<script asp-location="Footer">
    function slideNavOpen() {
        var body = document.body;
        var button = document.querySelector('.fix-menu__link-catalog');
        var slideCloseLink = document.querySelector('.slide-nav-close');

        button.addEventListener('click', function (e) {
            if (button.getAttribute('aria-expanded') === 'true') {
                body.classList.remove('slide-nav-open');
                button.setAttribute('aria-expanded', 'false');

                slideCloseLink.addEventListener('click', function () {
                    body.classList.remove('slide-nav-open');
                    button.setAttribute('aria-expanded', 'false');
                });
            } else {
                button.setAttribute('aria-expanded', 'true');
                body.classList.add('slide-nav-open');
            }
            e.preventDefault();
        });
    }
    slideNavOpen();
</script>
