@model SocialModel
<ul class="networks">
    <li class="instagram">
        <a href="https://www.instagram.com/goldtech.market/" target="_blank">
            <img src="/GoldTechLanding/images/instagram_gold.png" width="40" height="40">
        </a>
    </li>
</ul>